/* Main CSS for the Nav bar, Body, and Footer */


body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  background-color: transparent;
}

/* html {
  scroll-behavior: smooth;
} */

.parallax-container {
  height: 600px;
}

.parallax{
  height: 200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#logobox{
  margin-top:20px;
}

#navCon {
  /* position:sticky; */
  top: 0;
  background-color: white;
}

#navbtn {
  margin-top: 10%;
}

#navlink {
  color: black;
  text-decoration: none;
}

#navlink:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

#contactrow {
  margin-top: 20px;
}

#contactlogo {
  text-align: center;
}

#fbicon{
  margin-bottom: 10px;
}

#giticon{
  margin-bottom: 10px;
}



.html {
  width: 90%;
  background-color: black;
}

.css {
  width: 80%;
  background-color: black;
}

.js {
  width: 65%;
  background-color: black;
}

.php {
  width: 30%;
  background-color: black;
}

#secHeader{
  margin: 50px;
}

#profile{
  margin-top: 100px;
}
#portfolio{
  margin-top: 100px;
}
#resume{
  margin-top: 100px;
}
